
body {
    font-family: 'PingFang SC', 'Myriad Pro', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

#header {
    background: #FFFFFF url(../img/header-background.jpg) no-repeat center center;
    background-size: cover;
    width: auto;
    height: 750px;
    color: #FFFFFF;
    position: relative;
    padding-top: 200px;
}

.summary {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.summary .large {
    font-size: 180%;
}

.animate-show {
    opacity: 0;
}

@media (max-width: 768px) {
    #header h1 {
        text-align: center;
        font-size: 300%;
    }

    #header p {
        text-align: center;
        font-size: 150%;
    }

    .summary h1 {
        margin-bottom: 30px;
        font-size: 250%;
    }

    .summary p {
        font-size: 150%;
    }
}

@media (min-width: 768px) {
    #header h1 {
        text-align: center;
        font-size: 500%;
    }

    #header p {
        text-align: center;
        font-size: 200%;
    }

    .summary h1 {
        margin-bottom: 30px;
        font-size: 300%;
    }

    .summary p {
        font-size: 150%;
    }
}

.head-icon {
    width: 220px;
    height: auto;
}

.item {
    margin-bottom: 50px;
}

.item img {
    margin-left: auto;
    margin-right: auto;
}

.description-left {
    text-align: right;
}

.description-right {
    text-align: left;
}
