
body {
    font-family: 'PingFang SC', 'Myriad Pro', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}

#header {
    background: #FFFFFF url(../img/header-background.jpg) no-repeat center;
    width: 100%;
    height: 750px;
    color: #FFFFFF;
    position: relative;
    padding-top: 200px;
}

.summary {
    text-align: center;
}

.summary h1 {
    margin-bottom: 30px;
    font-size: 300%;
}

.summary p {
    font-size: 150%;
}

#header h1 {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 500%;
}

#header p {
    margin: auto;
    text-align: center;
    font-size: 200%;
}

.header-icon-left {
    width: 220px;
    height: auto;
}

.header-icon-right {
    width: 220px;
    height: auto;
}

.item {
    margin-bottom: 50px;
}

.description-left {
    text-align: right;
}

.description-right {
    text-align: left;
}

.name {

}

.title {

}

.detail {

}